<div class="row p-2">
    <div class='col-auto'>
        <%= form_with class: "d-flex", url: "/questions/create", method: :post do |form| %>
            <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Добавить вопрос
            </button>
          <% end %>
    </div>

</div>
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content" id="m-body">
        
      </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Вопрос</th>
      <th scope="col">Часть</th>
      <th scope="col">Ответ</th>
      <th scope="col">Оценка(В баллах)</th>
      <th scope="col">Дисциплина</th>
    </tr>
  </thead>
<% @questions.each do |el| %>
<% sql = "select name from disciplines where id = '#{el["discipline_id"]}'"%>
<% ressql = ActiveRecord::Base.connection.exec_query(sql) %>
<% ressql.each {|elem| @res = elem["name"]}%>
  <tbody>
    <tr>
      <th scope="row"><%= el["id"] %></th>
      <td><%= el["question"] %></td>
      <td><%= el["part"] %></td>
      <td><%= el["answer"] %></td>
      <td><%= el["mark"] %></td>
      <td><%= @res %></td>
      <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-auto'>
                                <%= form_with url: "/questions/edit/#{el["id"]}", method: :post do |form| %>
                                <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Изменить
                                </button>
                                <% end %> 
                            </div>
                            <div class='col-auto'>
                                <%= form_with url: "/questions/destroy/#{el["id"]}" do |form| %>
                                    <button type="submit" class="btn-close" aria-label="Закрыть"></button>
                                <% end %>  
                            </div>
                        </div>
                    </div>
                </td>
    </tr>
  </tbody>
<%end%>
</table>