<% if tdis == nil %>
        <%= form_with url: '/teachers_disciplines/add', method: :post do |form| %>
          <p><%= form.label :teacher_id, "Выберите преподавателя" %></p>
          <p><%= form.select :teacher_id, Teacher.all.map {|el| ["#{Person.find_by(id: el.person_id).second_name} #{Person.find_by(id: el.person_id).first_name} #{Person.find_by(id: el.person_id).patronymic}", el.id]}%></p>
          <p><%= form.label :discipline_id, "Выберите дисциплины" %></p>
          <%= form.select :discipline_id, Discipline.all.map {|el| [el.name, el.id]}, {}, {:multiple=>true} %>
          <p><%= form.submit("Добавить", id: 'btn') %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
<%else%>
        <%= form_with url: "/teachers_disciplines/update/#{tdis.id}", method: :post do |form| %>
          <p><%= form.label :teacher_id, "Выберите преподавателя" %></p>
          <p><%= form.select :teacher_id, Teacher.all.map {|el| ["#{Person.find_by(id: el.person_id).second_name} #{Person.find_by(id: el.person_id).first_name} #{Person.find_by(id: el.person_id).patronymic}", el.id]}%></p>
          <p><%= form.label :discipline_id, "Выберите дисциплины" %></p>
          <%= form.select :discipline_id, Discipline.all.map {|el| [el.name, el.id]} %>
           <p>  <%= form.radio_button :status, 'true' %> Преподает
                 <%= form.radio_button :status, 'false' %> Не преподает</p>
          <p><%= form.submit("Изменить", id: 'btn') %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
<% end %>