<div class="row p-2">
    <div class='col-auto'>
        <%= form_with class: "d-flex", url: "/disciplines/create", method: :post do |form| %>
            <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Добавить дисциплину
            </button>
          <% end %>
    </div>

</div>
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content" id="m-body">
        
      </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название дисциплины</th>
    </tr>
  </thead>
<% @disciplines.each do |el| %>
  <tbody>
    <tr>
      <th scope="row"><%= el["id"] %></th>
      <td><%= el["name"] %></td>
          <td>
              <div class="container">
                  <div class="row">
                      <div class='col-auto'>
                          <%= form_with url: "/disciplines/edit/#{el["id"]}", method: :post do |form| %>
                          <button type="submit" class="btn btn-outline-light me-2 text-bg-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Изменить
                          </button>
                          <% end %> 
                      </div>
                      <div class='col-auto'>
                          <%= form_with url: "/disciplines/destroy/#{el["id"]}" do |form| %>
                              <button type="submit" class="btn-close" aria-label="Закрыть"></button>
                          <% end %>  
                      </div>
                  </div>
              </div>
          </td>
    </tr>
  </tbody>
<%end%>
</table>